# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
/staticfiles/
media/
db.sqlite3



# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Environment variables
.env
*.env
.env.local
.env.production

# Production artifacts
*.log
*.pid

