
{% extends 'core/base.html' %}

{% block title %}About | The Hive{% endblock %}

{% block content %}
 <section class="hero">
        <h1>Create a New Offer</h1>
        <form class="offer-form">
            <input type="text" placeholder="Offer Title"><br><br>
            <textarea placeholder="Description"></textarea><br><br>
            <input type="text" placeholder="Tags (comma separated)"><br><br>
            <input type="number" placeholder="Estimated Duration (hours)"><br><br>
            <button class="cta">Share my Offer</button>
        </form>
    </section>
{% endblock %}